.main-landing{
  background: linear-gradient(#9198e5, rgb(28, 110, 187));
  width: 100vw;
  height: 100vh;
  overflow-x: hidden !important;
}
.main-notice{
  padding-top: 5%;
  text-align: center;
  overflow-x: hidden !important;
}
